/* Universal colour  */
:root {
	--primary-color: #fff;
	--seconndary-color: #000;
	--button-color: #fc6c0f;
	--weight-font-Colour: #15284c;
	--grey-color: #ccc;
	--background-color: #f7f9fa;
	--line-draw: #e4e7eb;
}
.side-bar {
	background-color: var(--primary-color);
	width: 16%;
	height: 85vh;
	border-right: 1px solid var(--line-draw);
}
.footer-section {
	background-color: var(--weight-font-Colour);
	height: 6.7vh;
	color: var(--primary-color);
}
.footer-inner {
	justify-content: space-between;
	align-items: center;
	/* margin: 20px; */
	width: 90%;
	margin: 0 auto;
	display: flex;
	padding-top: 20px;
}
.left-side {
	display: flex;
	align-items: center;
}
.left-side > h6 {
	font-size: large;
	margin-left: 10px;
}
.right-side .icon-footer {
	margin-left: 20px;
	cursor: pointer;
}
